$pink-heart: #ff4a92;
$shadow: 0 3px 5px 0 rgba(0, 0, 0, .45);

.photo-card {
	margin: 15px !important;
	width: 180px !important;
	box-shadow: $shadow !important;

	&__image {
		&:hover {
			opacity: 0.9;
		}	
	}

	&__title {
		padding-left: 1em;
	}

	&--liked {
		color: $pink-heart !important;
	}
}