.photo-card {
  margin: 17px !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.45) !important; }

.photo-card__image:hover {
  opacity: 0.9; }

.photo-card__title {
  margin-left: 15px; }

.photo-card--liked {
  color: #ff6ea8 !important;
  background: #e0e1e2 !important; }
